:root {
    --default-text-color: #ffffff;
    --logo-color: rgb(253, 206, 35);
    --page-background-color: #2c3333;
    --form-color: rgb(109, 114, 121);
    --search-icon-color: #3d3e43;
    --card-color: rgb(18, 21, 21);
    --nav-bg-color: #121212;
    --default-heart-color: rgb(207, 194, 194);
    --heart-red-color: #ec0638;
    --favourite-section-color: rgba(28, 27, 27);
    --fav-movie-card-color: rgb(12, 11, 11);
    --delete-button-color: #eb6582;
    --bs-font-sans-serif: Roboto, Helvetica, Arial, sans-serif;
}
*{
  transition: all 0.8s ease-in-out;
}
::-webkit-scrollbar{
  visibility: hidden;
  display: none;
}
::placeholder {
  color: #D2D3D5;
}
body{
  background-color: var(--page-background-color);
  color: var(--default-text-color);
}
h2{
  margin: 2% 4%;
  padding-left:0.2;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.3rem ;
}
a{
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}
.d-flex{
  display:flex;
}
.align-items{
  align-items: center;
}
.space-between{
  justify-content: space-between;
}

.flex-column{
  flex-direction: column;
}
.visible{
  visibility: visible;
  transform: translateX(0)!important;
}
/* Nav */
nav{
  justify-content:flex-start;
  padding: 1rem;
  background-color: var(--nav-bg-color);
}

#brand{
  display:flex;
  align-items: center;
}
#brand-icon img{
  width: 45px;
  height: 45px;
}
#brand-name{
  color: var(--logo-color);
  font-size: 1.5rem;
  font-family: 'Chela One', cursive;
  letter-spacing: 0.1rem;
}
form{
  width: 40rem;
  position:relative;
  display:flex;
  margin-left: 15%;
}
.search-container{
  margin-left: -1rem;
}
#search{
  width: 85%;
  border-radius:50px;
  border-style: none;
  background-color: #ffffff;
  padding:10px;
  padding-left: 1rem;
  font-size: 1rem;
}
input{
  color:rgba(0,0,0,0.87);
  font-family: var(--bs-font-sans-serif);
  font-weight: 400;
}
input:focus{
  outline: none;
}
#search-btn{
  height: 100%;
  width:3.2rem;
  margin-right: 0;
  right: 0;
  position: absolute;
  right: 6rem;
  border-style: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--logo-color);
}

#show-favourites{
  margin-right:1rem;
  font-size:1.5rem;
  visibility: hidden;
  cursor: pointer;
}
/* supper container */
#super-container{
  position: relative;
  
}
/* suggestion container */
main{
  min-width: 75%;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  right: 25%;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 10vh;
  bottom: 10vh;
}
/* movie card */
#card-container{
  width: 9rem;
  min-height:30vh;
  max-height: 55vh;
  display: flex;
  justify-content: center;
  align-items: first baseline;
  margin: 1.6rem;
  margin-top:20px;
}
.card{
  width: 9rem;
  height:100%;
  border:0;
  border-radius: 10px;
}
.card-body{
  border-radius:0 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--bs-font-sans-serif)!important;
}
.card a{
  color:var(--default-text-color);
  font-weight: 400;
  font-size: 1.2rem!important;
  line-height: 20px!important;
}

.fav-btn {
  border: transparent;
  background-color: transparent;
  text-align: center;
}

.add-fav{
  padding: 0;
  border: 0;
  color:lightgray;
}
.fa-heart:hover{
  color:var(--heart-red-color)
}


/* favourites */
aside{
  overflow-y: scroll!important;
  overflow-x: hidden;
}
#favourites{
  min-width: 25vw;
  height: 100vh;
  background-color: var(--favourite-section-color);
  font-family: var(--bs-font-sans-serif);
  color:var(--logo-color);
  position: fixed;
  right: 0;
  padding-bottom: 20vh;
}

#fav-movies-container {
  min-width: 100%;
  border-radius: 10px;
  margin:5%!important;
}

.fav-movie-card {
  padding-right: 1rem;
  width: 90%;
  background-color: var(--fav-movie-card-color);
  border-radius: 10px;
}
.fav-movie-card a{
  color: var(--default-text-color);
}

.fav-movie-poster {
  width: 60px;
  height: 80px;
  border-radius: 5px 0 0 5px;
}

.movie-card-details {
  width: 60%;
  font-size: 1rem;
}

.fa-trash{
  font-size:1rem;
  color: var(--delete-button-color);
}
.fa-trash:hover{
  color: var(--heart-red-color);
}

/* footer */
footer{
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--nav-bg-color);
}
footer a{
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
}
footer a:hover{
  text-decoration: underline;
  color: #D2D3D5;
}

/* Responsive */

@media screen and (max-width: 992px) {
  #card-container,.card {
    width: 8rem;
  }
  form{
    width:30rem;
  }
  #search-btn{
    right:4rem;
  }
  .fav-movie-card{
    font-size: 0.8rem;
  }
  .fa-trash{
    font-size:0.8rem;
  }
}

@media screen and (max-width: 768px) {
  #brand-name,#brand-icon {
    transform: scale(0.7);
  }
  #card-container {
    width: 8rem;
    max-height:none;
  }
  .card-body{
    max-height: 100%;
  }
  #brand-icon img{
    width:25px;
    height:25px;
  }
  main{
    width: 100%;
    padding: 0.6rem!important;
  }
  .card{
    width: 8rem;
    height: 100%;
    font-size: 0.8rem;
  }
  .card-body h5 a{
    font-size: 0.8rem!important;
  }
  form{
    width: 20rem;
  }
  #search{
    margin-left:25px;
  }
  #search-btn{
    right:1rem;
  }
  #favourites {
    transform: translateX(100%);
  }
  #show-favourites{
    visibility: visible;
  }
}

@media screen and (max-width: 576px) {
  form{
    width: 15rem;
  }
  /* aside{
    top: 15%;
  } */
  .card-body,#card-container{
    font-size: 0.8rem;
  }
  .card a{
    font-size: 0.8rem!important;
  }
  #search-btn{
    right:0.01rem;
    font-size: 0.5rem;
  }
  #search{
    font-size: 0.5rem;
  }
  .search-container{
    width:70%;
  }
  .fa-star{
    font-size: 0.5rem;
  }
  .fa-heart,footer h5{
    font-size: 0.7rem;
  }
  .card-text{
    align-items: center;
  }
  #fav-movies-container{
    width: 100vw;
  }
}

@media screen and (max-width: 420px){
  #card-container {
    width: 7rem;
    max-height: 47vh;
  }
  .card-body h5 a{
    font-size: 0.7rem;
  }
}